@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  width: 375px;
  height: 2002px;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  overflow-y: scroll;
}

section {
  width: 327px;
  height: 552px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #dfe1e6;
  margin-top: 16px;
  margin-bottom: 88px;
}

main.container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 375px;
  grid-template-rows: 640px 640px 640px 640px;
  border: 2px solid white;
  border-radius: 20px;
  grid-template-areas:
    "tonic1"
    "tonic2"
    "tonic3"
    "tonic4";
}

.tonic1 {
  grid-area: "tonic1";
}

.tonic2 {
  grid-area: "tonic2";
}

.tonic3 {
  grid-area: "tonic3";
}

.tonic4 {
  grid-area: "tonic4";
}

.image-tonic {
  width: 295px;
  height: 220px;
  margin: 16px 16px 0 16px;
}

.tonic-title {
  width: 295px;
  height: 36px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 16px;
  color: #172b4d;
  margin-left: 16px;
  line-height: 44px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  height: 36px;
  width: 295px;
}

.counter span {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  line-height: 16px;
}

.counter ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  list-style-type: none;
  color: #7a869a;
  padding-inline-start: 0;
}

.img-circle {
  margin-right: 12px;
  margin-left: 12px;
}

.tonic-para {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 76px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

.list-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  /* gap: 8px; */
  width: 203px;
  height: 24px;
  margin-left: 16px;
  margin-top: 12px;
}

.list-skills ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 203px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-skills ul li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-right: 8px;
}

.see-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  margin-left: 25px;
  margin-top: 35px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.see-pro:visited {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:hover {
  background-color: #6070ff;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  padding: 12px;
  line-height: 24px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:focus {
  background-color: #2230d2;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}
