@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 375px;
  height: 5548px;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  border: 1px solid gray;
  overflow-y: scroll;
}

header.logo-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 375px;
  height: 46px;
  top: 0;
}

.logo a {
  margin-left: 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.bars {
  margin-right: 24px;
  color: #6070ff;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.main-container {
  margin-bottom: 128px;
  width: 375px;
  height: 718px;
  background-image: url("./images/header-shapes\ mobile\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: 375px 718px;
  background-color: white;
}

.title-lp {
  display: flex;
  align-items: center;
  width: 327px;
  height: 150px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
  margin-left: 24px;
  padding-top: 144px;
  line-height: 52px;
}

.titletext p {
  display: flex;
  align-items: center;
  width: 337px;
  height: 146px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #133453;
  margin-left: 24px;
  margin-top: 12px;
  line-height: 24px;
}

.tonic1,
.tonic2,
.tonic3,
.tonic4 {
  width: 327px;
  height: 552px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #dfe1e6;
  margin-top: 16px;
  margin-bottom: 88px;
  margin-left: 24px;
}

section .container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 375px;
  grid-template-rows: 640px 640px 640px 640px;
  border-radius: 20px;
  grid-template-areas:
    "tonic1"
    "tonic2"
    "tonic3"
    "tonic4";
}

.tonic1 {
  grid-area: "tonic1";
}

.tonic2 {
  grid-area: "tonic2";
}

.tonic3 {
  grid-area: "tonic3";
}

.tonic4 {
  grid-area: "tonic4";
}

.image-tonic {
  width: 295px;
  height: 220px;
  margin: 16px 16px 0 16px;
}

.tonic-title {
  width: 295px;
  height: 36px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 16px;
  color: #172b4d;
  margin-left: 16px;
  line-height: 44px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  height: 36px;
  width: 295px;
}

.counter span {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  line-height: 16px;
}

.counter ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  list-style-type: none;
  color: #7a869a;
  padding-inline-start: 0;
}

.img-circle {
  margin-right: 12px;
  margin-left: 12px;
}

.tonic-para {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 76px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

.list-skills {
  list-style-type: none;
  width: 290px;
  height: 24px;
  margin-left: 16px;
  margin-top: 12px;
}

.list-skills ul {
  list-style: none;
  width: 290px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-skills ul li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 1px;
  margin-right: 8px;
  float: left;
  text-align: center;
}

.list-skills ul li:nth-child(1) {
  width: 53px;
}

.list-skills ul li:nth-child(2) {
  width: 45px;
}

.list-skills ul li:nth-child(3) {
  width: 114px;
  margin-right: 0;
}

#btn-get {
  width: 162px;
  height: 48px;
}

.see-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  margin-left: 25px;
  margin-top: 35px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: white;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.see-pro:visited {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:hover {
  background-color: #6070ff;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  padding: 12px;
  line-height: 24px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:focus {
  background-color: #2230d2;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

/* =======ABOUT PAGE======== */

.about_section {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1125px;
  background-image: url("./images/aboutbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 26px;
  margin-bottom: 113px;
}

.about {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
  margin-left: 24px;
}

.hello {
  width: 327px;
  height: 144px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.hello p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-about h2 {
  display: flex;
  justify-content: flex-start;
  width: 127px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.footer-icons-about {
  display: flex;
  align-items: center;
  width: 190px;
  height: 30px;
  margin-top: 15px;
}

.footer-icons-about ul {
  display: flex;
  width: 190px;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

h2 .language {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-left: 24px;
}

.list-skills-about ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.frame-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 48px;
}

.frame-lang img {
  transform: rotate(90deg);
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/contact\ form\ shapes-mobile.svg"),
    url("/images/Contact\ me.svg");
  background-position: 153px 16px, 0 0;
  background-repeat: no-repeat;
  height: 779px;
}

.input-design,
.textArea {
  border: 1px solid #cfd8dc;
  background: white;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-bottom: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.text-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
}

.text-field p {
  line-height: 28px !important;
  color: white;
  height: 102px;
  text-align: center;
}

.text-field h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
}

.input-field {
  width: 327px;
  margin-bottom: 20px;
}

.textArea {
  width: 273px;
  height: 150px;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.submit-btn {
  margin-left: 0;
}

.submit-btn:hover {
  background: #2230d2;
}

.header-desktop {
  display: none;
}

.title-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    width: 90rem;
    height: 5548px;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid gray;
    overflow-y: scroll;
  }

  header.logo-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 90rem;
    height: 46px;
    top: 0;
  }

  .logo a {
    margin-left: 9.688rem;
  }

  .logo-menu nav {
    display: none;
  }

  .header-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9.063rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border: 2px solid lime;
    color: #344563;
    width: 259px;
    height: 40px;
  }

  .header-desktop p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 40px;
    padding: 10px, 12px, 10px, 12px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border: 2px solid lime;
    background-image: url("/images/HeaderBgDesktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
    color: #344563;
    width: 90rem;
    height: 846px;
    margin-top: 118px;
  }

  .title-lp {
    display: none;
  }

  .title-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 57.5rem;
    height: 122px;
    border: 1px solid lime;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .titletext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 57.5rem;
    height: 98px;
    border: 1px solid lime;
  }

  .titletext p {
    display: flex;
    width: 57.5rem;
    height: 98px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 0;
    color: #344563;
  }

  .connect-about {
    margin-right: 50.938rem;
  }

  .footer-icons-about {
    margin-right: 47.5rem;
  }

  section .container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90rem;
    grid-template-columns: 90rem;
    grid-template-rows: 90rem 90rem 90rem 90rem;
    border-radius: 20px;
    border: 1px solid red;
    grid-template-areas:
      "tonic1"
      "tonic2"
      "tonic3"
      "tonic4";
  }

  .tonic1 {
    grid-area: "tonic1";
  }

  .tonic2 {
    grid-area: "tonic2";
  }

  .tonic3 {
    grid-area: "tonic3";
  }

  .tonic4 {
    grid-area: "tonic4";
  }

  .tonic-title {
    width: 31rem;
    height: 48px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    line-height: 52px;
    margin-left: 16px;
    line-height: 44px;
  }

  .tonic1,
  .tonic2,
  .tonic3,
  .tonic4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 72.25rem;
    height: 496px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #dfe1e6;
    margin-top: 16px;
    margin-bottom: 88px;
    margin-left: 150px;
  }

  .tonic-container {
    display: flex;
  }

  .image-tonic {
    width: 34rem;
    height: 448px;
    margin: 16px 16px 0 16px;
    border: 1px solid purple;
  }

  .left {
    width: 34rem;
    height: 448px;
  }

  .tonic-container-desktop {
    display: flex;
    flex-direction: row-reverse;
  }

  .counter,
  .tonic-para,
  .list-skills,
  .see-pro,
  .tonic-title {
    margin-left: 48px;
  }

  .about_section {
    display: flex;
    flex-direction: column;
    width: 90rem;
    height: 924px;
    background-image: url(./images/aboutmyselfbackgroundshapedesktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background: #E5E5E5;
    border: 1px solid lime;
    margin-top: 26px;
    margin-bottom: 113px;
}
