@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 375px;
  height: 5548px;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  overflow-y: scroll;
}

header.logo-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 375px;
  height: 46px;
  top: 0;
}

.logo a {
  margin-left: 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.bars {
  margin-right: 24px;
  color: #6070ff;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.main-container {
  margin-bottom: 128px;
  width: 375px;
  height: 718px;
  background-image: url("./images/header-shapes\ mobile\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: 375px 718px;
  background-color: white;
}

.title-lp {
  display: flex;
  align-items: center;
  width: 327px;
  height: 150px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
  margin-left: 24px;
  padding-top: 144px;
  line-height: 52px;
}

.titletext p {
  display: flex;
  align-items: center;
  width: 337px;
  height: 146px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #133453;
  margin-left: 24px;
  margin-top: 12px;
  line-height: 24px;
}

.tonic1,
.tonic2,
.tonic3,
.tonic4 {
  width: 327px;
  height: 552px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #dfe1e6;
  margin-top: 16px;
  margin-bottom: 88px;
  margin-left: 24px;
}

section .container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 375px;
  grid-template-rows: 640px 640px 640px 640px;
  border-radius: 20px;
  grid-template-areas:
    "tonic1"
    "tonic2"
    "tonic3"
    "tonic4";
}

.tonic1 {
  grid-area: "tonic1";
}

.tonic2 {
  grid-area: "tonic2";
}

.tonic3 {
  grid-area: "tonic3";
}

.tonic4 {
  grid-area: "tonic4";
}

.image-tonic {
  width: 295px;
  height: 220px;
  margin: 16px 16px 0 16px;
}

.tonic-title {
  width: 295px;
  height: 36px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 16px;
  color: #172b4d;
  margin-left: 16px;
  line-height: 44px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  height: 36px;
  width: 295px;
}

.counter span {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  line-height: 16px;
}

.counter ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  list-style-type: none;
  color: #7a869a;
  padding-inline-start: 0;
}

.img-circle {
  margin-right: 12px;
  margin-left: 12px;
}

.tonic-para {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 76px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

.list-skills {
  list-style-type: none;
  width: 290px;
  height: 24px;
  margin-left: 16px;
  margin-top: 12px;
}

.list-skills ul {
  list-style: none;
  width: 290px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-skills ul li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 1px;
  margin-right: 8px;
  float: left;
  text-align: center;
}

.list-skills ul li:nth-child(1) {
  width: 53px;
}

.list-skills ul li:nth-child(2) {
  width: 45px;
}

.list-skills ul li:nth-child(3) {
  width: 114px;
  margin-right: 0;
}

#btn-get {
  width: 162px;
  height: 48px;
}

.see-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  margin-left: 25px;
  margin-top: 35px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: white;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.see-pro:visited {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:hover {
  background-color: #6070ff;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  padding: 12px;
  line-height: 24px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.see-pro:focus {
  background-color: #2230d2;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

/* =======ABOUT PAGE======== */

.about_section {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1125px;
  background-image: url("./images/aboutbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 26px;
  padding-bottom: 113px;
}

.about {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
  margin-left: 24px;
}

.hello {
  width: 327px;
  height: 144px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.hello p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-about h2 {
  display: flex;
  justify-content: flex-start;
  width: 127px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.footer-icons-about {
  display: flex;
  align-items: center;
  width: 190px;
  height: 30px;
  margin-top: 15px;
}

.footer-icons-about ul {
  display: flex;
  width: 190px;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

h2 .language {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-left: 24px;
}

.list-skills-about ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
}

.frame-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 48px;
}

.frame-lang img {
  transform: rotate(90deg);
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/contact\ form\ shapes-mobile.svg"),
    url("/images/Contact\ me.svg");
  background-position: 153px 16px, 0 0;
  background-repeat: no-repeat;
  height: 787px;
}

.input-design,
.textArea {
  border: 1px solid #cfd8dc;
  background: white;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-bottom: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.text-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
}

.text-field p {
  line-height: 28px !important;
  color: white;
  height: 102px;
  text-align: center;
}

.text-field h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
}

.input-field {
  width: 327px;
  margin-bottom: 20px;
}

.textArea {
  width: 273px;
  height: 150px;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.submit-btn {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 32px;
}

.submit-btn:hover {
  background: #2230d2;
}

fieldset {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  border: 0;
  background-color: #fff;
  height: 787px;
}

.bottom_line {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin-left: 89px;
}

/* ======HIDE DIV======== */
.header-desktop {
  display: none;
}

.title-desktop,
.img-tanneDSKT {
  display: none;
}

/* =========DESKTOP-VERSION======== */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    width: 100vw;
    height: 5548px;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
    border: 1px solid gray;
  }

  header.logo-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 46px;
    padding-bottom: 50px;
    top: 0;
  }

  .logo a {
    margin-left: 0;
    margin-right: 0;
  }

  .logo {
    width: 80px;
    padding-left: 0;
    margin-left: 9.688rem;
  }

  /* =============LOGO ROTATE KEYFRAME============== */
  @keyframes rotate {
    0% {
      transform: rotate(45deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .logo:hover {
    animation: rotate 0.5s linear 1s;
  }

  .logo-menu nav {
    display: none;
  }

  .header-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9.063rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938;
    line-height: 20px;
    color: #344563;
    width: 259px;
    height: 40px;
  }

  .header-desktop p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 40px;
    padding: 10px, 12px, 10px, 12px;
  }

  /* ===========LANDING PAGE========== */
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 20px;
    background-image: url("/images/HeaderBgDesktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: #344563;
    width: 100vw;
    height: 135.36vh;
    border-bottom-left-radius: 85px;
    margin-top: 77px;
  }

  .title-lp {
    display: none;
  }

  .title-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 63.8889%;
    height: 14%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.37px;
    color: #091e42;
    overflow: hidden;
  }

  .titletext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 63.8889%;
    height: 14%;
    overflow: hidden;
  }

  .titletext p {
    display: flex;
    width: 63.8889%;
    height: 11.58392%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 0;
    color: #344563;
  }

  .connect-about {
    margin-right: 63.7089%;
  }

  .footer-icons-about {
    margin-right: 60.1533%;
    margin-top: 10px;
  }

  /* ===========MAIN-BODY-SECTION================ */
  section .container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: 90rem;
    grid-template-rows: 100% 100% 100% 100%;
    border-radius: 20px;
    grid-template-areas:
      "tonic1"
      "tonic2"
      "tonic3"
      "tonic4";
  }

  .tonic1 {
    grid-area: "tonic1";
  }

  .tonic2 {
    grid-area: "tonic2";
  }

  .tonic3 {
    grid-area: "tonic3";
  }

  .tonic4 {
    grid-area: "tonic4";
  }

  .container {
    width: 100vw;
  }

  .tonic-title {
    width: 80.44444%;
    height: 20%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    line-height: 52px;
    margin-left: 16px;
    margin-bottom: 0;
    line-height: 44px;
  }

  .tonic1,
  .tonic2,
  .tonic3,
  .tonic4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80.2778%;
    height: 496px;
    border-radius: 24px;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 88px;
    margin-left: 150px;
  }

  .tonic-container {
    display: flex;
  }

  .image-tonic {
    width: 43.7778%;
    height: 470px;
    margin: 16px 16px 0 16px;
    border-radius: 8px;
  }

  .left {
    padding-top: 48px;
    width: 50.7778%;
    height: 448px;
  }
  .img-tanne {
    display: none;
  }

  .img-tanneDSKT {
    display: block;
    width: 100%;
  }
  .tonic-container-desktop {
    display: flex;
    flex-direction: row-reverse;
  }

  .counter,
  .tonic-para,
  .list-skills,
  .see-pro,
  .tonic-title {
    margin-left: 48px;
  }

  .tonic-para {
    width: 80%;
    height: 20%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  /* ==========ABOUT SECTION============ */
  .about_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 148.07692307692307vh;
    background-color: #e5e5e5;
    background-image: url(./images/aboutmyselfbackgroundshapedesktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 26px;
    margin-bottom: 0;
  }

  .desktopV {
    width: 56%;
    height: 100%;
  }
  .right-desktop {
    width: 44%;
    height: 100%;
  }

  .about {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 52px;
    color: #091e42;
    margin-left: 118px;
    margin-bottom: 12px;
    margin-top: 142px;
  }

  .hello {
    margin-left: 17%;
    width: 80%;
    height: 9.3%;
  }

  .hide-overflow {
    overflow: hidden;
  }

  .hello p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    width: 100%;
    height: 100%;
  }

  .connect-about {
    margin-left: 98px;
  }

  .footer-icons-about {
    margin-left: 102px;
  }

  #btn-get {
    margin-left: 110px;
    margin-top: 20px;
    width: 162px;
    height: 48px;
  }

  /* ===========ABOUT ME RIGHT SIDE =============== */
  .frame-lang {
    width: 90%;
    margin-top: 146px;
  }
  .list-skills-about {
    margin-left: 24px;
    margin-top: 60px;
    height: 170px;
  }

  .list-skills-about ul {
    width: 414px;
    margin-top: 0;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .list-skills-about ul li {
    margin: 12px;
  }

  .language {
    margin-right: 40%;
  }

  .frame {
    width: 90%;
    height: 72px;
  }

  /* =========CONTACT-ME============== */
  .contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 124.64vh;
    background-image: url(/images/contactDSKT3.svg),
      url(/images/contactDSKT1.svg) !important;
    background-position: 0, 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  fieldset {
    padding: 0;
    margin: 0;
    margin-left: 0;
    border: 0;
    background-color: #fff;
  }

  .input-field {
    margin-top: 200px;
    width: 40%;
    margin-left: 30%;
  }

  .text-field h2 {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .text-field p {
    width: 70%;
    height: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 130px;
  }

  .submit-btn {
    margin-left: 100px;
    margin-top: 0;
  }

  .bottom_line {
    display: none;
  }
}
