@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  width: 375px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 34%;
  background: #e5e5e5;
  border: 1px solid #dfe1e6;
  overflow-y: scroll;
}

main {
  width: 375px;
  height: 1263px;
  border-radius: 16px;
  background-image: url("/images/Base\ about\ my\ self.svg");
  background-repeat: no-repeat;
  background-size: 375px 1263px;
  background-color: #e5e5e5;
  border: 1px solid #dfe1e6;
  margin-left: 22px;
  margin-top: 16px;
  margin-bottom: 88px;
}

.about {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 800px;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  margin-top: 114px;
  margin-left: 24px;
}

.hello {
  width: 327px;
  height: 144px;
  margin-left: 24px;
}

.hello p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect h2 {
  width: 127px;
  height: 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.footer-icons {
  display: flex;
  align-items: center;
  width: 190px;
  height: 30px;
  margin-left: 24px;
  margin-top: 15px;
}

.footer-icons ul {
  display: flex;
  width: 190px;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.get-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 48px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.language {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-left: 24px;
  margin-bottom: 36px;
}

.list-skills ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.frame-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.frame-lang img {
  transform: rotate(90deg);
}

.get-resume:visited {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.get-resume:hover {
  background-color: #6070ff;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  padding: 12px;
  letter-spacing: 0.03em;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.get-resume:focus {
  background-color: #2230d2;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}
