@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  width: 375px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 34%;
  background: #e5e5e5;
  border: 1px solid #dfe1e6;
  overflow-y: scroll;
}

main {
  width: 375px;
  height: 1263px;
  border-radius: 16px;
  background-image: url("/images/Base\ about\ my\ self.svg");
  background-repeat: no-repeat;
  background-size: 375px 1263px;
  background-color: #e5e5e5;
  border: 1px solid #dfe1e6;
  margin-left: 22px;
  margin-top: 16px;
  margin-bottom: 88px;
}

.about {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 800px;
  font-size: 40px;
  line-height: 52px;
  border: 1px solid black;
  color: hsl(218, 54%, 20%);
  margin-top: 114px;
  margin-left: 24px;
}

.hello {
  width: 327px;
  height: 144px;
  margin-left: 24px;
}

.hello p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.lets-con {
  width: 127px;
  height: 24px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  border: 1px solid black;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 190px;
  height: 30px;
  margin-left: 24px;
  margin-top: 15px;
}

.fa-twitter,
.fa-linkedin-in,
.fa-m,
.fa-github {
  font-size: 24px;
  color: #505f79;
}

.fa-hand-peace {
  font-size: 22px;
  color: #505f79;
  border: #505f79;
}

.get-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 48px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.language {
  /* display: flex;
  align-items: center;
  position: absolute; */
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 24px;
  margin-bottom: 36px;
}

.list-skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}
